@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
}

:root {
  --background: #f5f4ef;
  --foreground: #111;
  --primary: #f06292;
  --border: #e5e5e5;
  --ring: #111;
  --muted-foreground: oklch(0.556 0 0);
  --link: #2563eb;
  --link-hover: #1d4ed8;
}

.dark {
  --background: #070708;
  --foreground: #f5f4ef;
  --primary: #f06292;
  --border: #333;
  --ring: #f5f4ef;
  --muted-foreground: oklch(0.708 0 0);
  --link: #2563eb;
  --link-hover: #1d4ed8;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply text-link underline hover:text-link-hover;
  }
}

@utility view-container {
  @apply mx-auto max-w-xl space-y-2;
}
