---
import Head from '../components/head.astro';
import Styles from '../components/styles.astro';
import Header from '../components/header.astro';
import AsciiDivider from '../components/ascii-divider.astro';
import InfoSection from '../components/info-section.astro';
import ProjectSection from '../components/project-section.astro';
import TeamSection from '../components/team-section.astro';
import SocialSection from '../components/social-section.astro';
---

<html lang="en">
	<head>
		<Head />
		<Styles />
	</head>
	<body>
		<pre style="margin: 0;"><code><Header />

<AsciiDivider />

<InfoSection title="CONTACT" value="PAWARANIKET508@GMAIL.COM" />
<InfoSection title="LOCATION" value="INDIA" />
<InfoSection title="STATUS" value="ONLINE" />

<AsciiDivider />

<ProjectSection />

<AsciiDivider />

<TeamSection />

<AsciiDivider />

<SocialSection /></code></pre>
	</body>
</html>
