---

---

<header class="view-container">
  <h1>SHADCN LABS.</h1>
  <div>
    <p class="text-primary">Pushing the limits of the shadcn/ui ecosystem.</p>
    <p class="text-muted-foreground text-[10px]">© Shadcn Labs 2026</p>
  </div>
  <a href="mailto:pawaraniket508@gmail.com">pawaraniket508@gmail.com</a>
</header>
