---
import { SOCIALS } from "@/constants/social";
---

<section class="view-container">
  <h2>SOCIALS</h2>
  <ul class="flex items-center gap-2">
    {SOCIALS.map((social, index) => (
      <>
        {index > 0 && <span>•</span>}
        <li><a target="_blank" href={social.url}>{social.name}</a></li>
      </>
    ))}
  </ul>
</section>
