---
import { TEAM } from "@/constants/team";
---

<section class="view-container">
  <h2>TEAM</h2>
  <ul>
    {TEAM.map((member) => (
      <li><a target="_blank" href={member.url}>{member.name}</a></li>
    ))}
  </ul>
</section>
